<% if @recipe.errors.any? %>
  <div>
    <h2>
      <%= pluralize(@recipe.errors.count, "error") %> prohibited
      this recipe from being saved:
    </h2>
    <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @recipe do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
  <%= f.submit %>
<% end %>
